.CardList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

@media (min-width: 48rem) {
  .CardList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 75rem) {
  .CardList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
