.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
}

.Header-logo {
    width: 3rem;
    height: auto;
}

.Header-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.Header-a {
    color: cornflowerblue;
    text-decoration: none;
}

.Header-a:hover {
    color: black;
}

.Header-li {
    font-size: 1.2rem;
    font-weight: bold;
}

.Header-toggle-button {
    display: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.Header-burger-icon {
    font-size: 4rem;
}

@media (max-width: 768px) {
    .Header-toggle-button {
        display: block;
        margin: 0;
    }

    .Header-burger-icon.isVisible {
        position: fixed;
        top: 1rem;
        right: 30%;
        z-index: 2;
    }

    .Header-nav {
        display: none;
    }

    .Header-a {
        color: whitesmoke;
        text-decoration: none;
    }

    .Header-nav.isVisible {
        display: flex;
        right: 0;
    }

    .Header-ul.isVisible {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 17rem;
        height: 100%;
        background-color: cornflowerblue;
        box-shadow: 0.1rem 0 0.4rem black;
        transition: left 0.3s ease-in-out;
        z-index: 1;
    }

    .Header-toggle-button.isVisible:hover {
        color: whitesmoke;
    }
}
