.RegisterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
}

.RegisterForm-error {
    color: var(--warning-color);
}

.RegisterForm-login-action {
    margin-left: 0.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.RegisterForm-login-action:hover {
    color: var(--accent-color);
}
